body{
    background: url('https://www.kunr.org/sites/kunr/files/201901/truckee-amtrak-2.jpg');
    background-size: cover;
}
.card{
/*     background: aliceblue; */
}
a{
    color: aliceblue;
}
#header{
    padding: 1vw;
    background: #86a9ad;
    color: aliceblue;
}
.card-header{
    background:#8cafb359;
}
h1{
    font-size: 7vh;
}